/* GLOBAL RESET AGGIORNATO */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  /* Settando la proprietà su inherit, questo valore automaticamente verrà settato per la proprietà 'box-sizing' di tutti gli elementi. Nel body settiamo il valore della proprietà che verrà ereditata da tutti gli elementi. */
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  /* @include responsive-phone {
    font-size: 50%;
  }*/

  @include responsive(phone) {
    font-size: 50%;
  }

  @include responsive(tab-portrait) {
    font-size: 60%;
  }

  @include responsive(tab-landscape) {
    font-size: 70%;
  }

  @include responsive(big-desktop) {
    font-size: 80%;
  }
}

body {
  /* Questa proprietà verrà ereditata da tutti gli elementi della pagina */
  box-sizing: border-box;
}
